$mapContainer: (
tipD: flex,
pad: 30px 30px 20px 30px,
color:#1b1a17

);

.footer {
    display: block;
    flex-flow: row wrap;
   padding: map-get($mapContainer, pad);
    color: #eeeeee;
    background-color: map-get($mapContainer,color);
    li{
        list-style: none;
        padding-left: 0;
        background-color: map-get($mapContainer,color);
       
    }
}
.contenedor {
    display: map-get($mapContainer , tipD );
    justify-content: space-between;
    ol{
        margin-top: 1rem;
        display: map-get($mapContainer , tipD );
    }
}
.socials {
    text-align: center;
    img{
        margin-inline: 0.3rem;
    }
}
#redesSociales {
    text-align: left;
    list-style-type: none;

}